:root {
    --primary-color: #23a6f0;
    --secondary-color: #2dc071;
    --dark-blue-color: #252b42;
    --gray-color: #737373;
    --white-color: #ffffff;
    --small-fontsize: 1.2rem;
    --medium-fontsize: 1.3rem;
    --xl-medium-fontsize: 1.5rem;
    --large-fontsize: 4rem;
  }
  
  .product-page {
    padding: 4rem 10rem;
  }
  